In [11]:
names1 = ['Lamela','Son','Dier','Kane','Harry','Victor','Tripier','Rose']
for name in names:
    print("Happy Birthday ",name)

Happy Birthday  Mary
Happy Birthday  Teresa
Happy Birthday  Dier
Happy Birthday  Kane
Happy Birthday  Harry
Happy Birthday  Victor
Happy Birthday  Tripier
Happy Birthday  Rose

In [11]:
names[1] = 123

In [5]:
type(names[5])

int

In [6]:
len(names)

8

In [7]:
names

['Lamela', 'Son', 'Dier', 'Kane', 'Harry', 123, 'Tripier', 'Rose']

In [12]:
for i in names:
    print(i)

Lamela
123
Dier
Kane
Harry
Victor
Tripier
Rose

In [15]:
for i in range(len(names)):
    print(names[i])

Lamela
123
Dier
Kane
Harry
Victor
Tripier
Rose

In [4]:
print(names[2:])

['Dier', 'Kane', 'Harry', 'Victor', 'Tripier', 'Rose']

In [7]:
names = ['Mary','Teresa','Dier', 'Kane','Harry','Victor','Tripier','Rose']

In [8]:
names

['Mary', 'Teresa', 'Dier', 'Kane', 'Harry', 'Victor', 'Tripier', 'Rose']

In [10]:
names [::2]

['Mary', 'Dier', 'Harry', 'Tripier']

In [12]:
names2 = names + names1

In [13]:
names2

['Mary',
 'Teresa',
 'Dier',
 'Kane',
 'Harry',
 'Victor',
 'Tripier',
 'Rose',
 'Lamela',
 'Son',
 'Dier',
 'Kane',
 'Harry',
 'Victor',
 'Tripier',
 'Rose']

In [15]:
names2.count('Tripier')

2

In [17]:
names2.index("Tripier")

6

In [19]:
names2.sort()

In [20]:
names2

['Dier',
 'Dier',
 'Harry',
 'Harry',
 'Kane',
 'Kane',
 'Lamela',
 'Mary',
 'Rose',
 'Rose',
 'Son',
 'Teresa',
 'Tripier',
 'Tripier',
 'Victor',
 'Victor']

In [27]:
names2.__add__(["Nemis","Kol"])

['Dier',
 'Dier',
 'Harry',
 'Harry',
 'Kane',
 'Kane',
 'Lamela',
 'Mary',
 'Rose',
 'Rose',
 'Son',
 'Teresa',
 'Tripier',
 'Nemis',
 'Kol']

In [24]:
dir(names2)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']